---
import Layout from '../components/_Layout/index.astro'
import { getGlobalData } from '../utils/sanity/queries/getGlobalData';
const globalData = await getGlobalData()
---

<Layout globalData={globalData} title="404">
	<h1>404 template</h1>
</Layout>