---
// import Layout from '../components/_Layout/index.astro'
// import { useSanityClient } from 'astro-sanity'
// import GET_GLOBAL_DATA from '../utils/sanity/queries/getGlobalData';
// const globalData = await useSanityClient().fetch(GET_GLOBAL_DATA)

export async function getStaticPaths() {
  return {
    props: {}
  }
}
---
<h1>404</h1>
<!-- <Layout globalData={globalData} title="404">
	<h1>404 template</h1>
</Layout> -->