---
import Layout from '../components/_Layout/index.astro'
import { useSanityClient } from 'astro-sanity'
import Hero from '../components/Hero/index.astro'
import GET_GLOBAL_DATA from '../utils/sanity/queries/getGlobalData'
import GET_HOMEPAGE from '../utils/sanity/queries/getHomepage'

// const globalData = await useSanityClient().fetch(GET_GLOBAL_DATA)
// const content = await useSanityClient().fetch(GET_HOMEPAGE)
---

<h1>homepage</h1>
{/*<Layout globalData={globalData} title={content.fieldSeo.title ?? 'Homepage'}>
	<Hero
		title="Astranity"
	/>
</Layout>*/}