---
import { Icon } from "astro-icon"

const { socialAccounts } = Astro.props;
---

<ul class="flex flex-row gap-3">
    {
        socialAccounts.map((item, n) => (
            <li>
                <a class="rounded-full w-8 h-8 bg-white flex items-center justify-center text-black hover:bg-violet-500 hover:text-white transition-colors" href={item.url}>
                    <span class="sr-only">{item.account}</span>
                    <Icon name="search" class="w-5 h-5 text-black fill-current" />
                    {item.account == 'Facebook' ? <Icon name="uil:facebook-f" class="w-6 h-6" /> : ''}
                    {item.account == 'Twitter' ? <Icon name="carbon:logo-twitter" class="w-6 h-6" /> : ''}
                    {item.account == 'Instagram' ? <Icon name="carbon:logo-instagram" class="w-6 h-6" /> : ''}
                    {item.account == 'LinkedIn' ? <Icon name="basil:linkedin-solid" class="w-6 h-6" /> : ''}
                    {item.account == 'Vimeo' ? <Icon name="bxl:vimeo" class="w-6 h-6" /> : ''}
                    {item.account == 'YouTube' ? <Icon name="mdi:youtube" class="w-6 h-6" /> : ''}
                </a>
            </li>
        ))
    }
</ul>