---
import Accordion from "./Accordion.astro"

const { content } = Astro.props;
const { heading, accordions } = content;
---

{accordions ? (
    <>
        <section class="row row--white">
            <div class="container">
                <div class="max-w-2xl mx-auto">
                    {heading ? <h2 class="mb-6 xl:mb-8">{heading}</h2> : ""}
                    <div data-accordion-container>
                        <div class="text-xs flex flex-row justify-end gap-2 mb-3">
                            <button
                                class="underline underline-offset-4 text-gray-500 hover:text-black"
                                data-toggle-all="close"
                            >
                                Close all
                            </button>
                            <button
                                class="underline underline-offset-4 text-gray-500 hover:text-black"
                                data-toggle-all="open"
                            >
                                Open all
                            </button>
                        </div>
                        <ul>
                            {accordions.map((item, n) => <Accordion id={item.id} />)}
                        </ul>
                    </div>
                </div>
            </div>
            
        </section>

        <script src="/src/scripts/accordions.js" type="module" />
    </>
) : ''}